[Unit]
Description=Michael Media Controller
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/lirc_test.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
