[Unit]
Description=Beamer MQTT Interface
After=multi-user.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/mqtt-beamer.py
Restart=on-failure
Environment=PYTHONUNBUFFERED=1
 
[Install]
WantedBy=multi-user.target