root@main:~# cat /lib/systemd/system/mediactrl.service 
[Unit]
Description=Michael Media Controller
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/lirc_test.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
root@main:~# cat /lib/systemd/system/beamer_mqtt.service 
[Unit]
Description=Beamer Media Controller
After=multi-user.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/mqtt-beamer.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
root@main:~# cat /lib/systemd/system/bme280_mqtt.service 
[Unit]
Description=Stube Klima Sensor
After=multi-user.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/bme280_mqtt.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target

