[Unit]
Description={{ description }}
After=multi-user.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory={{ script_dir }}
Environment=PYTHONPATH={{ script_dir }}
ExecStart=/usr/bin/python3 {{ script }}
Restart=on-failure
Environment=PYTHONUNBUFFERED=1
 
[Install]
WantedBy=multi-user.target